
:root {
    --color-background-canvas: #fff;
    --white: #FF8000;
    --black: #fff;
    --color-text-low-emphasis: #fff;
    --system-gray-20: #088A08;
    --color-icon-nav: #fff;
    --system-gray-10: #088A08;
    --system-gray-30: #088A08;
    --system-gray-40: #088A08;
    --system-gray-50: #088A08;
    --system-gray-60: #088A08;
    --system-gray-70: #088A08;
    --system-gray-80: #088A08;
    --system-gray-90: #088A08;
    --cool-gray-10: #088A08;
    --cool-gray-20: #fff;
    --cool-gray-30: #FF8000;
    --cool-gray-40: #FF8000;
    --cool-gray-50: #FF8000;
    --cool-gray-60: #FF8000;
    --cool-gray-70: #FF8000;
    --cool-gray-80: #FF8000;
    --cool-gray-90: #FF8000;
    --warm-gray-10: #FF8000 --warm-gray-20: #FF8000;
    --warm-gray-30: #FF8000;
    --warm-gray-40: #FF8000;
    --warm-gray-50: #FF8000;
    --warm-gray-60: #FF8000;
    --warm-gray-70: #FF8000;
    --warm-gray-80: #FF8000;
    --warm-gray-90: #FF8000;
    --black-a90: hsla(0, 0%, 100%, 0.9);
    --black-a75: hsla(0, 0%, 100%, .75);
    --black-a60: rgba(255, 255, 255, .6);
    --black-a45: rgba(255, 255, 255, .45);
    --black-a30: rgba(255, 255, 255, .3);
    --black-a15: rgba(255, 255, 255, .15);
    --black-a08: rgba(255, 255, 255, .08);
    --black-a04: rgba(255, 255, 255, .04);
    --white-a85: hsla(22, 100%, 51%, .85);
    --white-a70: hsla(19, 100%, 50%, .7);
    --white-a55: hsla(0, 0%, 0%, .55);
    --white-a40: hsla(0, 0%, 0%, .4);
    --white-a25: hsla(0, 0%, 0%, .25);
    --white-a12: hsla(0, 0%, 0%, .12);
    --white-a06: hsla(0, 0%, 0%, .06);
}
.feed-shared-creative__text,
.feed-shared-header__text-view a,
.feed-shared-update-v2--minimal-padding .feed-shared-update-v2__commentary,
.artdeco-modal__header h1,
.artdeco-modal__header h2,
.artdeco-modal__header h3,
.artdeco-modal__header h4,
.artdeco-modal__header h5,
.artdeco-modal__header h6,
.artdeco-modal[size="small"] .artdeco-modal__header h1,
.artdeco-modal[size="small"] .artdeco-modal__header h2,
.artdeco-modal[size="small"] .artdeco-modal__header h3,
.artdeco-modal[size="small"] .artdeco-modal__header h4,
.artdeco-modal[size="small"] .artdeco-modal__header h5,
.artdeco-modal[size="small"] .artdeco-modal__header h6,
.artdeco-entity-lockup__title,
.artdeco-entity-lockup__caption,
.table th,
.org-tracked-companies-table__your-company-row,
.table td,
.EntityLockup-circle-2 dt,
.EntityLockup-circle-2 dt h1,
.EntityLockup-circle-2 dt h2,
.EntityLockup-circle-2 dt h3,
.EntityLockup-circle-2 dt h4,
.EntityLockup-circle-2 dt h5,
.EntityLockup-circle-2 dt h6,
.EntityLockup-circle-2-ghost-person dt,
.EntityLockup-circle-2-ghost-person dt h1,
.EntityLockup-circle-2-ghost-person dt h2,
.EntityLockup-circle-2-ghost-person dt h3,
.EntityLockup-circle-2-ghost-person dt h4,
.EntityLockup-circle-2-ghost-person dt h5,
.EntityLockup-circle-2-ghost-person dt h6,
.EntityLockup-circle-3-ghost-person dt,
.EntityLockup-circle-3-ghost-person dt h1,
.EntityLockup-circle-3-ghost-person dt h2,
.EntityLockup-circle-3-ghost-person dt h3,
.EntityLockup-circle-3-ghost-person dt h4,
.EntityLockup-circle-3-ghost-person dt h5,
.EntityLockup-circle-3-ghost-person dt h6,
.EntityLockup-circle-4-ghost-company dt,
.EntityLockup-circle-4-ghost-company dt h1,
.EntityLockup-circle-4-ghost-company dt h2,
.EntityLockup-circle-4-ghost-company dt h3,
.EntityLockup-circle-4-ghost-company dt h4,
.EntityLockup-circle-4-ghost-company dt h5,
.EntityLockup-circle-4-ghost-company dt h6,
.EntityLockup-circle-4-ghost-person dt,
.EntityLockup-circle-4-ghost-person dt h1,
.EntityLockup-circle-4-ghost-person dt h2,
.EntityLockup-circle-4-ghost-person dt h3,
.EntityLockup-circle-4-ghost-person dt h4,
.EntityLockup-circle-4-ghost-person dt h5,
.EntityLockup-circle-4-ghost-person dt h6,
.EntityLockup-square-2-company dt,
.EntityLockup-square-2-company dt h1,
.EntityLockup-square-2-company dt h2,
.EntityLockup-square-2-company dt h3,
.EntityLockup-square-2-company dt h4,
.EntityLockup-square-2-company dt h5,
.EntityLockup-square-2-company dt h6,
.EntityLockup-square-2-ghost-company dt,
.EntityLockup-square-2-ghost-company dt h1,
.EntityLockup-square-2-ghost-company dt h2,
.EntityLockup-square-2-ghost-company dt h3,
.EntityLockup-square-2-ghost-company dt h4,
.EntityLockup-square-2-ghost-company dt h5,
.EntityLockup-square-2-ghost-company dt h6,
.EntityLockup-square-2-ghost-school dt,
.EntityLockup-square-2-ghost-school dt h1,
.EntityLockup-square-2-ghost-school dt h2,
.EntityLockup-square-2-ghost-school dt h3,
.EntityLockup-square-2-ghost-school dt h4,
.EntityLockup-square-2-ghost-school dt h5,
.EntityLockup-square-2-ghost-school dt h6,
.EntityLockup-square-4 dt,
.EntityLockup-square-4 dt h1,
.EntityLockup-square-4 dt h2,
.EntityLockup-square-4 dt h3,
.EntityLockup-square-4 dt h4,
.EntityLockup-square-4 dt h5,
.EntityLockup-square-4 dt h6,
.EntityLockup-square-4-ghost-company dt,
.EntityLockup-square-4-ghost-company dt h1,
.EntityLockup-square-4-ghost-company dt h2,
.EntityLockup-square-4-ghost-company dt h3,
.EntityLockup-square-4-ghost-company dt h4,
.EntityLockup-square-4-ghost-company dt h5,
.EntityLockup-square-4-ghost-company dt h6,
.EntityLockup-square-4-ghost-school dt,
.EntityLockup-square-4-ghost-school dt h1,
.EntityLockup-square-4-ghost-school dt h2,
.EntityLockup-square-4-ghost-school dt h3,
.EntityLockup-square-4-ghost-school dt h4,
.EntityLockup-square-4-ghost-school dt h5,
.EntityLockup-square-4-ghost-school dt h6,
.EntityLockup-square-5 dt,
.EntityLockup-square-5 dt h1,
.EntityLockup-square-5 dt h2,
.EntityLockup-square-5 dt h3,
.EntityLockup-square-5 dt h4,
.EntityLockup-square-5 dt h5,
.EntityLockup-square-5 dt h6,
.EntityLockup-square-5-ghost-company dt,
.EntityLockup-square-5-ghost-company dt h1,
.EntityLockup-square-5-ghost-company dt h2,
.EntityLockup-square-5-ghost-company dt h3,
.EntityLockup-square-5-ghost-company dt h4,
.EntityLockup-square-5-ghost-company dt h5,
.EntityLockup-square-5-ghost-company dt h6,
.EntityLockup-square-5-ghost-school dt,
.EntityLockup-square-5-ghost-school dt h1,
.EntityLockup-square-5-ghost-school dt h2,
.EntityLockup-square-5-ghost-school dt h3,
.EntityLockup-square-5-ghost-school dt h4,
.EntityLockup-square-5-ghost-school dt h5,
.EntityLockup-square-5-ghost-school dt h6,
global-nav__me-content artdeco-dropdown__content artdeco-dropdown--is-dropdown-element artdeco-dropdown__content--justification-right artdeco-dropdown__content--placement-bottom ember-view,
input[type="date"]::placeholder,
input[type="datetime-local"]::placeholder,
input[type="datetime"]::placeholder,
input[type="email"]::placeholder,
input[type="month"]::placeholder,
input[type="number"]::placeholder,
input[type="password"]::placeholder,
input[type="search"]::placeholder,
input[type="tel"]::placeholder,
input[type="text"]::placeholder,
input[type="time"]::placeholder,
input[type="url"]::placeholder,
input[type="week"]::placeholder,
textarea::placeholder,
.search-global-typeahead--focused input.search-global-typeahead__input.always-show-placeholder::placeholder,
.artdeco-entity-lockup__subtitle {
    color: rgba(255, 255, 255, .9);
}
.org-tracked-companies-table__your-company-row {
    background-color: var(--system-gray-10);
}
.theme--mercado .nt-card--unread {
    background-color: var(--system-gray-30);
}
.highcharts-background {
    fill: var(--system-gray-10);
}

.pv-profile-sticky-header {
    background-color: var(--white);
}